<DisplayInfo>
   <Script>
      <![CDATA[
      <UiScreen infoLevel="Normal">
         <Title>Title</Title>
         <AutoTransition>3</AutoTransition>
         <IoScreen>
            <IoObject>
               <Title><%= @prmtr[:info_msg][:objtitle] %></Title>
               <Message>
                  <%= @prmtr[:info_msg][:msgbody] %>
               </Message>
            </IoObject>
         </IoScreen>
      </UiScreen>
      ]]>
   </Script>
</DisplayInfo>
