   <DisplayForm>
      <Script>
         <![CDATA[
         <UiScreen infoLevel="Normal">
            <Title>Simple Clock</Title>
            <AutoTransition>300</AutoTransition>
            <Operations>
               <Op type="Back" action="./init">
               </Op>
            </Operations>
            <IoScreen>
               <IoObject>
                  <Title>Programme terminé</Title>
                  <Description>Displays Server Time</Description>
                  <Message>
                  Au revoir.
                  </Message>
               </IoObject>
            </IoScreen>
         </UiScreen>
         ]]>
      </Script>
   </DisplayForm>

